.container_work {
  background-image: url(../../Img/changedSuckMyDChamged_1.png);

  background-repeat: no-repeat;

  display: flex;
  justify-content: flex-end;
  height: 700px;
  width: 100%;
  background-size: cover;
  align-items: center;
}

.cost_a {
  width: 800px;
  background-color: #232323;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text_3 {
}
.text_3 li {
  display: flex;
  flex-direction: row;
  line-height: 170%;
  font-size: 40px;
  background-color: #232323;
}
.text {
  width: 450px;
  font-size: 35px;
  margin: 20px;
  background-color: #000000;
}

@media screen and (max-width: 700px) {
  .cost_a {
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .text {
    font-size: 14px;
    
  }
  .cost_a {
    padding: 20px;
    
  }
}
