.about {
  margin: 30px;

  background-color: #fff;

  font-size: 50px;
}
.inf {
  color: #ffffff;
  height: 400px;
}
.x {
  color: #990000;
  padding-bottom: 30px;
}
.hair {
  background-size: cover;
  background-image: url(../../Img/bbb.PNG);
  height: 320px;
  width: 270px;
}
.container2 {
  display: flex;
  justify-content: center;
}
.perenos {
  text-align: left;
  line-height: 125%;
  width: 350px;
  padding: 10px;
  letter-spacing: 1.5px;
  background-color: #7c7272;
}
.container1 {
  margin: 0 auto;
}

.bip {
  color: #333;
  background-color: #000000;
}
