.container_reservbg {
  background-color: #000000;
  margin: 0px 0px 49px;
  margin: 77px 0px 24px;
}
.www {
  color: aliceblue;
  margin: 0px 0px 5px;
}
.make {
  color: #ffffff;
  margin: 0px 0px 38px;
}

.ContactInput {
  border: solid 2px gray;
  margin: 10px;
<<<<<<< HEAD
  color: #ffffff;
  padding: 10px;
}

.ooop {
  background-color: #ffffff;
  padding: 10px 50px;

  color: #000000;
  border-radius: 10px;
  transition-property: all;
  transition-timing-function: linear(
    0 0%,
    0 1.8%,
    0.01 3.6%,
    0.03 6.35%,
    0.07 9.1%,
    0.13 11.4%,
    0.19 13.4%,
    0.27 15%,
    0.34 16.1%,
    0.54 18.35%,
    0.66 20.6%,
    0.72 22.4%,
    0.77 24.6%,
    0.81 27.3%,
    0.85 30.4%,
    0.88 35.1%,
    0.92 40.6%,
    0.94 47.2%,
    0.96 55%,
    0.98 64%,
    0.99 74.4%,
    1 86.4%,
    1 100%
  );
  transition-duration: 150ms;
}

.cont_ooop {
  display: flex;
  justify-content: center;
  margin: 50px;
}

.ooop:active {
  background-color: #ff0000;
=======
  color: #000000;
>>>>>>> 296d28382843c3f40954f58552e040a6ce2cfe57
}

.ContactInput_button{
  width: 100px;
  height: 25px;
}

.button_reserv{
 
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #4676D7;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
  
}