.container_basement {
  display: flex;
  background-color: #fff;
  margin: 20px;
  border-radius: 2px;
  padding: 20px;
}

.contact {
  color: #000;
}

.number {
  color: #411e1e;
}

.icon {
}

.name_contact {
  margin: 20px;
}

.name_yarick {
  margin: 20px;
}

.name_icon {
  margin: 20px;
}

