.container_basement {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  border-top: 5px dashed rgb(255, 255, 255);
  margin: 40px 20px;
}

.contact {
  color: #3f3d3d;
}

.number {
  color: #3f3d3d;
}

.name_contact {
  margin: 20px;
}

.name_yarick {
  margin: 20px;
  color: #3f3d3d;
}

.name_icon {
  margin: 20px;
}

.navigation_yarick {
  margin-left: 80px;
}

.egor {
  color: #3f3d3d;
}

.size_text {
  font-size: small;
  text-align: left;
}

.icon {
  color: #3f3d3d;
  
}

.buba {
  margin-left: 0;
}

@media screen and (max-width: 882px) {
  .container_basement {
    margin: 40px 20px;
  }
  .name_icon {
    margin: 20px;
  }
  .navigation_yarick {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .container_basement {
    flex-direction: column;
    display: flex;

    justify-content: center;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .container_basement {
    flex-direction: column;
    align-items: center;
  }
}
